body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
	text-decoration: none;
}

.main {
	width: 800px;
}

.title, h2 {
	font-weight: normal;
}
.title {
	text-align: center;
}
.title img {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
	cursor: pointer;
}
.title img:hover {
	filter: brightness(90%);
}
.card {
	background: white;
	margin-bottom: 20px;
	padding: 20px;
	display: block;
	box-shadow: 1px 1px 3px #ddd;
	border-radius: 3px;
}
.card:hover {
	box-shadow:  1px 1px 5px #ccc;
}
.card-title {
	font-size: 26px;
	font-weight: normal;
	color: black;
	margin: 0;
}
.card-title:hover {
	color: #2080f0;
}
.card .version {
	margin-left: 5px;
	color: gray;
}
.card p {
	line-height: 25px;
}
.card-link {
	font-size: 12px;
	color: gray;
	margin-left: 5px;
}
.card-link:hover {
	color: black;
}