.topnav {
  	overflow: hidden;
	background: white;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 1px 3px #AAAAAA;
	display: flex; 
	justify-content: center;
}
.topbar {
	width: 1080px;
	margin: 0;
}
.topnav a {
  	float: left;
  	display: block;
  	color: #333333;
  	text-align: center;
  	text-decoration: none;
  	font-family: "微软雅黑";
  	padding: 14px 16px;
}
.topnav a:hover {
	color: dodgerblue;
}